<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome our website</title>
  </head>
  <body>
    <h1>{{homeTitle}}</h1>
    <p>{{homeMessage}}</p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>

  </body>
  </html>