<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>About us</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <h1>Welcom to our company</h1>
    <p>We are the best</p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>

  </body>
  </html>